@model WebApp.Models.HomeViewModel
@{
    ViewBag.Title = "HOME";
}

@{
    foreach (var feedNews in Model.feedNews)
    {
        <section class="travel-videos-area">
            <div class="container">
                <div class="travel-videos-content">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-10">
                                    <div class="section-heading wow fadeInUp" data-wow-delay="200ms">
                                        <a href="#" >
                                            <h2>@feedNews.Name</h2>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <a href="#" class="btn videomag-btn">Subscribe</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        @{
                            var news = feedNews.News.OrderByDescending(d => d.Date);
                            var firstNew = news.First();
                        }
                        <div class="col-12 col-lg-6">

                            <!-- Single Welcome Post -->
                            <div class="single-welcome-post style-2 bg-img mb-30 wow fadeInUp" data-wow-delay="300ms" style="background-image: url(@firstNew.Thumbnail);">
                                <!-- Play Button -->
                                <a href="#" class="video-play-btn"><i class="fa fa-play"></i></a>
                                <!-- Content -->
                                <div class="welcome-post-content">
                                    <!-- Single Blog Post -->
                                    <div class="single-blog-post white">
                                        <div class="blog-content">
                                            <a href="#" class="post-tag">@firstNew.Category.Name</a>
                                            <a href="#" class="post-title">@string.Join("", firstNew.Title.Take(40))...</a>
                                            <div class="post-meta">
                                                <a href="#"><img src="img/core-img/author.png" alt=""> By @firstNew.Author</a>
                                                <a href="#"><img src="img/core-img/calender.png" alt=""> @firstNew.Date.ToString("MMMM dd, yyyy")</a>
                                                <a href="#"><img src="img/core-img/chat.png" alt=""> @firstNew.Comments.Count()</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="row">
                                @foreach (var newsItem in news.Skip(1).Take(4))
                                {
                                    <div class="col-md-6">
                                        <div class="single-blog-post style3 mb-30 wow fadeInUp" data-wow-delay="400ms">
                                            <div class="blog-thumb mb-30">
                                                <img src="@newsItem.Thumbnail" alt="">
                                                <a href="@newsItem.VideoUrl" class="video-play-btn style2"><i class="fa fa-play"></i></a>
                                            </div>
                                            <div class="blog-content">
                                                <a href="#" class="post-tag">@newsItem.Category.Name</a>
                                                <a href="#" class="post-title">@string.Join("", newsItem.Title.Take(40))...</a>
                                                <div class="post-meta d-flex justify-content-between">
                                                    <a href="#"><img src="img/core-img/calendar2.png" alt=""> @newsItem.Date.ToString("MMMM dd, yyyy")</a>
                                                    <div class="d-flex">
                                                        <a href="#"><img src="img/core-img/chat2.png" alt=""> 5</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
                            }
}
